[tool.poetry]
name = "ncdump-rich"
version = "0.1.12"
description = "Rich NcDump"
authors = ["Eirik Enger <eirroleng@gmail.com>"]
license = "GPL-3.0"
readme = "README.rst"
homepage = "https://github.com/engeir/ncdump-rich"
repository = "https://github.com/engeir/ncdump-rich"
documentation = "https://ncdump-rich.readthedocs.io"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

[tool.poetry.urls]
Changelog = "https://github.com/engeir/ncdump-rich/releases"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
click = "^8.0.1"
netCDF4 = "^1.5.7"
rich = ">=10.7,<13.0"

[tool.poetry.scripts]
ncdump-rich = "ncdump_rich.__main__:main"

[tool.poetry.group.dev.dependencies]
safety = "^2.1.1"
pytest = "^7.1.2"
coverage = {extras = ["toml"], version = "^6.4"}
mypy = "^0.960"
typeguard = "^2.13.2"
xdoctest = {extras = ["colors"], version = "^1.0.0"}
sphinx = "^4.5.0"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.19.0"
flake8 = "^4.0.1"
black = "^22.3"
flake8-bandit = "^2.1.2"
bandit = "1.7.2"
flake8-bugbear = "^22.6.22"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.13.2"
darglint = "^1.8.1"
reorder-python-imports = "^3.1.0"
pre-commit-hooks = "^4.2.0"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^4.0.3"
Pygments = "^2.11.2"
pytest-cov = "^3.0.0"
numpy = "^1.22.3"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["ncdump_rich"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.coverage.html]
directory = "htmlcov"

[tool.mypy]
strict = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
